In [7]:
# connect to database
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from psycopg2 import sql
import pandas as pd

In [3]:
# get password
from config import db_password
from config import user_name
rds_endpoint = 'methanedb.cri33yx04get.us-east-1.rds.amazonaws.com'
port = '5432'
DB_name = 'methaneAnalysis'
url = f'postgresql://{user_name}:{db_password}@{rds_endpoint}:{port}/{DB_name}'

In [4]:
# sql alchemy create_engine postgresql://{user}:{password}@{rds endpoint}:{port}/{DB name}
engine = create_engine(url)

In [5]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [8]:
# query df = pd.read_sql(query.statement, connection)
# merged table
merged_df = pd.read_sql('SELECT * FROM merged_data', engine)
# sector specific table
sector_total_df = pd.read_sql('SELECT * FROM sector_total', engine)

In [9]:
merged_df.head()

   year      country                        sector  emissions        gdp
0  2018  Afghanistan                   Agriculture      10.45  18.053229
1  2018  Afghanistan                        Energy      67.91  18.053229
2  2018  Afghanistan            Fugitive Emissions       2.22  18.053229
3  2018  Afghanistan          Industrial Processes       0.00  18.053229
4  2018  Afghanistan  Land-Use Change and Forestry       0.00  18.053229